<h2>Introduction</h2>
				
				<p align=justify style="font: 15px 'Helvetica Neue', Helvetica, Arial; font-weight: 300;
				line-height: 1.5;
				width: auto;">
				<Strong>geWorkbench (genomics Workbench)</Strong> is an open source Java desktop application that provides access to an integrated 
				suite of tools for the analysis and visualization of data from a wide range of genomics domains (gene expression, 
				sequence, protein structure and systems biology). More than 70 distinct plug-in modules are currently available 
				implementing both classical analyses (several variants of clustering, classification, homology detection, etc.) as 
				well as state of the art algorithms for the reverse engineering of regulatory networks and for protein structure 
				prediction, among many others. geWorkbench leverages standards-based middleware technologies to provide seamless access 
				to remote data, annotation and computational servers, thus, enabling researchers with limited local resources to benefit 
				from available public infrastructure.</p>
				
				<p align=justify style="font: 15px 'Helvetica Neue', Helvetica, Arial; font-weight: 300;
				line-height: 1.5;
				width: auto;"> Sample links - 
				Developed by 
				<a href="http://www.c2b2.columbia.edu" style ="color: #B83F45;font-weight:bold;">C2B2</a>,
				<a href="http://magnet.c2b2.columbia.edu"  style ="color: #B83F45;font-weight:bold;">MAGNet</a>.
				</p>