<!doctype html>
<html>
<head>
<title>geWorkbench</title>
</head>
<body>
<div id="welcome">
        <div id="title" class="v-label">
                <h2>Welcome to</h2>
                <h1 class="v-label-color">geWorkbench</h1>
                <div id="slogan">A platform for Integrated Genomics</div>
        </div>
       
        <p class="v-label" align="justify">geWorkbench is a platform for integrated genomics, offering strong capabilities in the analysis and visualization of gene expression, sequence, and protein structure data. </p>
        <p class="v-label" align="justify">It offers direct access to numerous external data sources, including caArray, the Cancer Gene Index (gene-disease-compound associations), the Cancer Gene Atlas, BioCarta and the Pathway Interaction Database, as well as to sequence, molecular interaction, and structural databases.</p>
  
  		 <em class="v-label v-label-tiny">Center for Computational Biology and Bioinformatics, Columbia University</em>    
</div>
</body>
</html>